.app-classic-grouped-listing h1 label {font-weight:normal; display:block; font-size:50%;}
.app-classic-grouped-listing h1 input {font-size:100%; width:80%; text-align:center;}

.app-classic-grouped-listing .group h2 label {font-weight:normal; display:block; font-size:65%;}
.app-classic-grouped-listing .group h2 input {font-size:80%; }

.app-classic-grouped-listing .group.draggable h2 label,
.app-classic-grouped-listing .group.draggable h2 {cursor:move;}

.app-classic-grouped-listing .functions,
.app-classic-grouped-listing .datapath {text-align:right; margin:10px;}
.app-classic-grouped-listing a.button { cursor:pointer; border:1px solid #aaa; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding:2px 5px; }

.app-classic-grouped-listing .listing a { cursor:move;}

.app-classic-grouped-listing .group.draggable h2 {position:relative;}
.app-classic-grouped-listing .group .remove {position:absolute; top: -3px; left: 0px; width: 20px; height:20px; font-size:1px; letter-spacing:-1px; overflow:hidden;}
.app-classic-grouped-listing .group .remove a {cursor:pointer; display:block; width:20px; height:20px; color:transparent; background: transparent url(/classic-grouped-listing/images/delete-small.png) 0px 0px no-repeat;}
.app-classic-grouped-listing .group .remove a:hover {background-position:0px -60px; background-color: transparent;}

.app-classic-grouped-listing .group.draggable h2 input,
.app-classic-grouped-listing .group.draggable h2 label {margin-left:25px;}