<%# Takes listing -%>
<div class="listing">
  <a href="<%=h listing.url %>">
    <div class="img"><%=h listing.picture %></div>
    <div class="name"><%=h listing.name %></div>
    <div class="description"><%=h listing.description %></div>
  </a>
</div>